
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <style>
      .chat_log{ width: 100%; height: 200px; }
      .name{ width: 10%; }
      .message{ width: 70%; }
      .chat{ width: 10%; }
      .chat-area{width: 90%;}
      .hide-area{display: none;}
      .show-area{display: block;}
      #exit-btn{float: right;}
      .cursor-pointer{cursor: pointer;}

    </style>
  </head>
  <body>
    <li id="usercount"></li>

    <div class="user-area show-area">사용자 아이디
      <form id="user-name-chg">
        <input id="user-name" class="user-name" type="text">
        <input type="submit" value="확인">
      </form>
    </div>
    <div class="rooms-area show-area">
       방목록
       <!-- <p id="rooms"></p> -->
        <ul id="rooms" class="cursor-pointer">
          <!-- <li>room1 <button>입장</button></li>
          <li>room2 <button>입장</button></li>
          <li>room3 <button>입장</button></li>
          <li>room4 <button>입장</button></li> -->
        </ul>
        <div style="display: flex;">
          <form id="join-room">
            <input id="room-id" name="room-id" type="hidden" >
            <input id="room-name" name="room-name" type="text" placeholder="방제목입력">
            <input id="room-password" name="room-password" type="password", placeholder="비밀번호" ></input>
            <input type="submit", value="입장" ></input>
          </form>
          <form id="new-room" style="margin-left: 5px;">
            <!-- <input id="room-name" name="room-name" type="text" placeholder="방제목입력"> -->
            <!-- <input id="room-password" name="room-password" type="password", placeholder="비밀번호" ></input> -->
            <input type="submit", value="방생성" ></input>
          </form>
        </div>
    </div>
    <div class="chat-area hide-area">
      <div style="display:flex;">
        <div style="width: 50%;">
          채팅 : <span id="con-room-name" disabled></span><input id="exit-btn" type="submit" value="Exit">
          <div class="chat-log-area">
            <!-- <textarea id="chatLog" class="chat_log" readonly></textarea> -->
          </div>
      
          <form id="chat">
            <input id="name" class="name" type="text" disabled>
            <input id="message" class="message" type="text">
            <input type="submit" class="chat" value="chat"/>
          </form>
          <div id="box" class="box">
            <div id="typings">
              <!-- <p id="typing"></p> -->
            </div>
        </div>
      </div>
      <div>
          <div>
            <li class="room-user-count"></li>
            <ul class="user-list">
              <!-- <li>user1</li>
              <li>user2</li>
              <li>user3</li> -->
            </ul>
          </div>
      </div>
      
    </div>
    <!-- <script src="http://localhost:3030/socket.io/socket.io.js"></script> 1 -->
    <script src="/socket.io/socket.io.js"></script> <!-- 1 -->
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script>

      var notiPer = false;
      $(function(){
        console.log("!!!!Start !!")
        getNotificationPermission();

      });

      //알림 권한 요청
      function getNotificationPermission() {
        // 브라우저 지원 여부 체크    
        if(!("Notification" in window)){
          alert("데스크톱 알림을 지원하지 않는 브라우저입니다.");}
          // 데스크탑 알림 권한 요청    
          Notification.requestPermission(function (result){
            // 권한 거절        
            if(result == 'denied'){
              alert('알림을 차단하셨습니다.\n브라우저의 사이트 설정에서 변경하실 수 있습니다.');
              notiPer = false;
              return false;
            }else{
              notiPer = true;
            }
          });
        }

      var socket = io();
      var roomsText = $('#rooms');
      
      // socket.on('changeName', function(name){ //4
      //   $('#name').val(name);
      // });

      //최초 유저 아이디 셋팅 
      socket.on('getUserName', (name)=>{
        console.log(name)
        $('#user-name').val(name)
        $('#name').val(name);
      });

      $('#user-name-chg').on('submit', function(e){
        e.preventDefault();
        socket.emit('setUserName', $('#user-name').val());
      });


      
      // 총 접속자 카운팅
      socket.on('userCount', (count) => {
        var userCounter = document.getElementById('usercount');
        userCounter.innerText = "총 접속자 " + count + "명";
      });

      // 방 목록 가져오기
      socket.emit('getRooms');  // getRooms 이벤트 호출
      socket.on('rooms', (rooms) => { // rooms 이벤트 발생
          // 룸 목록 업데이트
          roomsText.textContent = "";
          console.log(rooms)
          for (let i in rooms) {
            console.log(rooms[i])
              // roomsText.append(rooms[room] + "<br>");
              if(rooms[i].open_yn === 0){
                roomsText.append('<li class="con-room-btn cursor-pointer" data-room="'+rooms[i].title+'" data-id="'+rooms[i].id+'" data-open="'+rooms[i].open_yn+'">'+rooms[i].title+'</li>')
              }else{
                roomsText.append('<li class="con-room-btn cursor-pointer" data-room="'+rooms[i].title+'" data-id="'+rooms[i].id+'" data-open="'+rooms[i].open_yn+'">'+rooms[i].title+'(비밀방)</li>')
              }
          }
      });

      
      // 새로운 방 생성
      $('#new-room').on('submit', function(e){
        e.preventDefault();
          console.log(" new Room !!")
          console.log($('input[name="room-name"]').val());
          console.log($('input[name="room-password"]').val());
          // Todo 패스워드 입력 여부에 따라 상태 추가
          // return 
          let room ={
            title : $('input[name="room-name"]').val(),
            roomPassword : $('input[name="room-password"]').val(),
            state : true
          }
          socket.emit('newRoom', room);
      });
      
      let joinBtnPermission = false;
      $('#join-room').on('click', function(e){
        e.preventDefault();
        console.log($(this).attr('data-id'))
        console.log($('input[name=room-id]').val())

        socket.emit('conRoom', $('input[name=room-id]').val())
      })

      // 방 로우 클릭시 input 셋팅후 비밀번호 있을경우 비밀번호 입력, 없을경우 입장
      $(document).on("click", '.con-room-btn', function(e){
        e.preventDefault();
        console.log(" 로우 클릭")
        console.log($(this).data('id'))
        $('#room-name').val($(this).data('room'));
        $('#room-id').val($(this).data('id'))
        if($(this).data('open') === 0){
          // $('')
          socket.emit('conRoom',$(this).data('id'))
        }else{
          $('#room-password').focus();

        }

        // console.log("입장 클릭");
        // console.log($(this).attr('data-room'))
        // $()
        
        // socket.emit('conRoom',$(this).attr('data-room'))
      })


      // 방입장 
      socket.on('joinRoom', (room)=>{
        // console.log("join Room !")
        // 방 리스트 숨김, 채팅방 입장
        if($('#chatLog').length === 0){
          $('.chat-log-area').append('<textarea id="chatLog" class="chat_log" readonly></textarea>')
        }
        
        $('.chat-area').removeClass('hide-area');
        $('.chat-area').addClass('show-area');

        $('.rooms-area').removeClass('show-area');
        $('.rooms-area').addClass('hide-area');

        $('.user-area').removeClass('show-area');
        $('.user-area').addClass('hide-area');
        $('#room-name').val("")
        $('#room-password').val("")
        // console.log(room)
        $('#con-room-name').text(room)
        socket.emit('conUserMsg');
        socket.emit('inUsers');

      });

      socket.on('roomUserCount', (count)=>{
        console.log(count)
          $('.room-user-count').text('참가자 : '+count +" 명");
      })
      
      // 방 나가기 
      $('#exit-btn').on("click", function(e){
        e.preventDefault();
        // console.log(" Exit!!")
        // $('#chatLog').val('');
        socket.emit('reaveRoom')

        // 방 리스트 숨김, 채팅방 입장
        $('.chat-area').removeClass('show-area');
        $('.chat-area').addClass('hide-area');

        $('.rooms-area').removeClass('hide-area');
        $('.rooms-area').addClass('show-area');

        $('.user-area').removeClass('hide-area');
        $('.user-area').addClass('show-area');
        $('.chat-log-area').empty();
        $('#rooms').empty();
        socket.emit('getRooms');
      });


      socket.on('receiveMessage', function(msg, type, user){ //3
        // console.log(msg);
        // console.log(type)
        $('#chatLog').append(msg+'\n');
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
        $(document).focus();
        if(notiPer){
          if(user !== $('#name').val()){
            notify(msg);
          }
        }
        // $('#typings').empty();
      });

     $('#chat').on('submit', function(e){ //2
      e.preventDefault();
        socket.emit('sendMessage', $('#name').val(), $('#message').val());
        $('#message').val('');
        $('#message').focus();
        
      });

    // 알림 띄우기
    function notify(msg){
      var options = {
        body:msg}
        // 데스크탑 알림 요청    
        var notification = new Notification("[Noti]", options);
        // 3초뒤 알람 닫기    
        setTimeout(function(){
          notification.close();
        },1500);}


      // // var socket = io.connect('http://localhost:3030');
      // var socket = io();
      // console.log(socket)
      // $('#chat').on('submit', function(e){ //2
      //   socket.emit('send message', $('#name').val(), $('#message').val());
      //   $('#message').val('');
      //   $('#message').focus();
      //   e.preventDefault();
        
      // });

      // socket.on('usercount', (count) => {
      //       var userCounter = document.getElementById('usercount');
      //       userCounter.innerText = "접속자 " + count + "명";

            
      //   });
      // socket.on('receive message', function(msg){ //3
      //   $('#chatLog').append(msg+'\n');
      //   $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      //   $('#typings').empty();
      // });
      // socket.on('change name', function(name){ //4
      //   $('#name').val(name);
      // });

      // let typingList = [];
      // socket.on('receive typing', function(list){
      //   $('#typings').empty();
      //   // console.log(list)
      //   // console.log(list.length)
     
      //   for(let i in list){
      //     console.log(list[i])
      //     if(list[i] !== $('#name').val()){
      //       if($('#t_'+list[i]).length === 0){
      //         $('#typings').append("<p id=t_"+list[i]+">"+list[i]+"님이 작성중입니다...</p>")
      //         typingList.push(list[i]);
      //       }
      //     }
      //     // if(typingList.includes(list[i])){
      //     //   console.log("!!!")
      //     //   if($('#t_'+list[i]).length > 0){
      //     //     $('#t_'+list[i]).remove();
               
      //     //   }
      //     // }

      //   }

      //   if(list.length === 0){
      //     console.log("!!!!!!!!! 000")
      //     $('#typings').empty();
      //   }

        
      // });


      // // 타이핑 중 이벤트 
      // // $(function(){
      //   $('#message').on('input', function(){
      //     // console.log(".. ")
      //     if($('#message').val()==''){
      //       // console.log("0")
      //       socket.emit('send typing', $('#name').val(), 0)
      //     }else{
      //       // console.log("1")
      //       socket.emit('send typing', $('#name').val(), 1)
      //     }
      //   })
      // // });
      
    </script>
  </body>
</html>